In [9]:
import re
import nltk  
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
import pandas as pd

In [2]:
paragraph = '''
I have three visions for India. In 3000 years of our history, people from all over 
the world have come and invaded us, captuour lands, conquered our minds. 
From Alexander onwards, the Greeks, the Turthe Moguls, the Portuguese, the British,
the French, the Dutch, all of them came looted us, took over what was ours. 
Yet we have not done this to any other natiWe have not conquered anyone. 
'''

In [3]:
ps = PorterStemmer()
wordnet = WordNetLemmatizer()
sentences = nltk.sent_tokenize(paragraph)

In [4]:
corpus = []
for i in range(len(sentences)):
    english_stopwords = stopwords.words('english')
    review = re.sub('[^a-zA-Z]', ' ',sentences[i])
    review = review.lower()
    review = review.split()
    review = [wordnet.lemmatize(word) for word in review if not word in set(english_stopwords)]
    review = ' '.join(review)
    corpus.append(review)

In [5]:
# creating the bag_of_words 
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer() 
X = cv.fit_transform(corpus).toarray()

In [10]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,0,0,0,0,1,1,1,0,0,0,...,0,1,0,0,0,0,0,1,1,0
2,1,0,1,1,0,0,0,0,1,1,...,1,0,1,0,1,1,0,0,0,0
3,0,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1